---
import Layout from '../../../layouts/Layout.astro'

import NavegacionQuienesSomos from '../../../components/QuienesSomos/NavegacionQuienesSomos.astro'
import ItemLogro from '../../../components/QuienesSomos/Logros/ItemLogro.astro'

import type Logro from '../../../data/interfaces/Logro'
import { logros } from '../../../data/logros/logros.ts'
import TituloPag from '../../../components/Common/TituloPag.astro'
---

<Layout pag="Logros">
  <NavegacionQuienesSomos pag="3" />
  <TituloPag titulo="Logros" />
  <main>
    {logros.map((item: Logro) => <ItemLogro logro={item} />)}
  </main>
</Layout>
