.service-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  border: none;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.service-card:hover {
  transform: translateY(-4px);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.service-card img {
  height: 10rem;
  width: max-content;
  position: relative;
  padding: 0.5rem;
}

.service-card-content {
  padding: 1rem;
}

.service-card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.service-card p {
  margin-top: 0.5rem;
  color: #666;
  line-height: 1.4;
}
