.upload-page {
  max-width: 900px;

  margin: auto;

  display: flex;

  flex-direction: column;

  gap: 2rem;
}

.drop-zone {
  border: 3px dashed var(--border);

  border-radius: 16px;

  padding: 4rem;

  cursor: pointer;

  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.drop-zone:hover {
  border-color: var(--primary);

  background: rgba(255, 255, 255, 0.03);
}

.drop-zone.drag {
  border-color: var(--primary);

  background: rgba(255, 255, 255, 0.05);
}

.icon {
  font-size: 4rem;
}

.previewContainer {
  display: grid;

  grid-template-columns: repeat(1, minmax(180px, 500px));

  gap: 1rem;
}

.preview {
  position: relative;
}

.preview img {
  width: 100%;

  aspect-ratio: 1;

  object-fit: cover;

  border-radius: 12px;
}

.remove {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  top: 8px;
  right: 8px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 1px solid var(--color-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: bold;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.remove:hover {
  cursor: pointer;
  background-color: var(--color-red);
}

#uploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryButton {
  width: 7rem;
  flex: 1;
  border: 1px solid var(--color-text);
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: transparent;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -webkit-transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -moz-transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -ms-transition:
    background-color 0.3s ease,
    color 0.3s ease;
  -o-transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.primaryButton:not(:disabled):hover {
  background-color: var(--color-primary-hover);
  color: var(--color-background);
  cursor: pointer;
}
