---
import Layout from '../../../layouts/Layout.astro'

import NavegacionQuienesSomos from '../../../components/QuienesSomos/NavegacionQuienesSomos.astro'
import ItemHistoria from '../../../components/QuienesSomos/Historia/ItemHistoria.astro'

import { historia } from '../../../data/historia/historia'
import type Historia from '../../../data/interfaces/Historia'
import TituloPag from '../../../components/Common/TituloPag.astro'
---

<Layout>
  <NavegacionQuienesSomos pag="1" />
  <TituloPag titulo="Historia" />
  <main>
    {
      historia.map((item: Historia, index: number) => (
        <ItemHistoria historia={item} lado={index % 2} />
      ))
    }
  </main>
</Layout>
