<p class="text">
  Somos una fundación sin fines de lucro creada en Neuquén Capital, obteniendo
  el 4 de octubre de 2010 la <strong
    >Personería Jurídica Decreto Nro. 1893</strong
  >, nuestro trabajo es la protección de los pacientes niños, niñas y
  adolescentes oncológicos (con cáncer o tumores).
</p>

<style>
  .text {
    font-family: var(--text-font-primary);
    margin: 0;
    padding-inline: 2rem;
  }

  strong {
    color: var(--color-primary-hover);
  }
</style>
