---
import Mision from './Mision/Mision.astro'
import Vision from './Vision/Vision.astro'
---

<ul class="lista-descripcion">
  <Mision />
  <Vision />
  <li>
    <h3>Valores</h3>
  </li>
</ul>

<style>
  .lista-descripcion {
    list-style: none;
    padding: 0;
  }
</style>
