---
const { pag } = Astro.props
const numPag = parseInt(pag)

import { navigationQuienesSomos } from '../../data/navigation/navigationQuienesSomos'
import type Navigation from '../../data/interfaces/Navigation'
---

<nav class="nav-quienes-somos">
  <ul class="lista-nav-quienes-somos">
    {
      navigationQuienesSomos.map((item: Navigation, index: number) => {
        if (numPag === index + 1) {
          return (
            <a href="/quienes-somos/">
              <li>Atrás</li>
            </a>
          )
        } else {
          return (
            <a href={item.href}>
              <li>{item.name}</li>
            </a>
          )
        }
      })
    }
  </ul>
</nav>

<style>
  .nav-quienes-somos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lista-nav-quienes-somos {
    background-color: var(--color-primary-light);
    height: 4rem;
    width: 25rem;
    font-size: 1.1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 1.3rem;
    padding: 0;
    overflow: hidden;
  }

  .lista-nav-quienes-somos a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--text-font-primary);
    width: 7rem;
    text-align: center;
    height: 100%;
    width: calc(25rem / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .lista-nav-quienes-somos a:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-background);
  }
</style>
