---
import RedesSociales from "./FooterInfo/RedesSociales.astro"
---

<section class="footer-info">
  <div>
    <a href="./">
    <img
      class="banner-seno"
      src="../../public/banner_seno.avif"
      alt="Banner de la Fundación SENO"
    />
    </a>
    <p>
      Acompañamos a niños, adolescentes con cáncer y a sus familias durante todo
      el tratamiento, brindando apoyo emocional, económico, material y mucho
      más.
    </p>

    <RedesSociales />
  </div>
</section>

<style>
  .banner-seno {
    height: 4rem;
  }
</style>
