<div class="footer-fin">
  <p>© 2026 Fundación S.E.N.O.</p>
</div>

<style>
  .footer-fin {
    color: var(--color-background);
    background-color: var(--color-secondary);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .footer-fin p {
    width: 100%;
    text-align: center;
    font-family: var(--text-font-primary);
  }
</style>
