<nav>
  <ul>
    <a href="https://www.facebook.com/fundacionseno2017" target="_blank"
      ><li>facebook</li></a
    >
    <a href="https://www.instagram.com/fundacionseno" target="_blank"
      ><li>instagram</li></a
    >
    <a
      href="https://api.whatsapp.com/send?phone=542994564725&text=Hola%20Fundaci%C3%B3n%20Seno"
      target="_blank"><li>whatsapp</li></a
    >
  </ul>
</nav>
