<p class="txt-footer-info">
  Acompañamos a niños, adolescentes con cáncer y a sus familias durante todo el
  tratamiento, brindando apoyo emocional, económico, material y mucho más.
</p>

<style>
  .txt-footer-info {
    text-align: justify;
    font-family: var(--text-font-primary);
  }
</style>
