---
import TituloPag from '../../components/Common/TituloPag.astro'
import NavegacionPelucas from '../../components/Pelucas/NavegacionPelucas.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout>
    <NavegacionPelucas pag="0"/>
    <TituloPag titulo="Pelucas" />
    <main>

    </main>
</Layout>

