---
import TituloPag from '../../components/Common/TituloPag.astro'
import LogroPelucas from '../../components/Pelucas/LogroPelucas.astro'
import NavegacionPelucas from '../../components/Pelucas/NavegacionPelucas.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <NavegacionPelucas pag="0" />
  <TituloPag titulo="Pelucas" />
  <main>
    <LogroPelucas />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eos
      eius, nisi unde doloremque cumque mollitia similique quisquam tenetur
      animi provident odio repellendus error perferendis ipsum quaerat sunt,
      magnam quia?
    </p>
    <!--? TEXTO DE LAS PELUCAS (SIGNIFICADO, IMPORTANCIA, ETC)
    <!--? HISTORIA (FECHAS, DIFICULTADES, ETC.) -->
  </main>
</Layout>
