<p>
  <strong
    >Primeros en crear un taller de pelucas para pacientes oncológicos en la
    Patagonia</strong
  >
</p>

<style>
  p {
    font-family: var(--text-font-primary);
    font-size: 1.5rem;
    background-color: var(--color-primary);
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-inline: 2rem;
  }
</style>
